.bodybg{
    -fx-background-image: url('../GUI-ideas-images/BackgroundInGame.jpg');
    -fx-background-size: 100% 100%;
}


.button{
    -fx-border-color: rgb(255,255,255);
    -fx-border-width: 3;
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: #a6a6a6;
}

.textBox {
    -fx-border-color: rgb(255,255,255);
    -fx-border-width: 3;
    -fx-background-color: transparent;
}


.repeatButton {
-fx-graphic: url('../GUI-ideas-images/soundButton.png');
}
.dontKnowButton {
-fx-text-fill: black;
}

.speedImage {
-fx-graphic: url('../GUI-ideas-images/speedIcon.png');
-fx-background-color: transparent;
}

